<!DOCTYPE html>
{%load static%}
<html lang="en">
    <link rel="stylesheet" href = "{% static 'style.css'%}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About news...</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <a href="{%url 'home_page'%}" class="logo">blogify</a>
                <ul class="header-nav">
                    <li class="nav-list">
                        <a href="{%url 'home_page'%}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-list">
                        <a href="{%url 'news_page'%}" class="nav-link">News</a>
                    </li>
                    <li class="nav-list">
                        <a href="{%url 'news_page'%}" class="nav-link">About</a>
                    </li>
                </ul>
                <button id="burger-button" onclick="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
            </div>
        </div>
        <div id="menuList" class="container" style="display: none;">
            <ul class="mobile-menu">
                <li class="menu-list">
                    <a href="{%url 'home_page'%}" class="nav-link">Home</a>
                </li>
                <li class="menu-list">
                    <a href="{%url 'news_page'%}" class="nav-link">News</a>
                </li>
                <li class="menu-list">
                    <a href="{%url 'news_page'%}" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </header>

    <main class="main">
        <div class="news-detail">
            <div class="container">
                <a href="{%url 'home_page'%}" class="button-primary">Back</a>
                <h1 class="primary-title">{{post.title}}</h1>
                <div class="news-detail-img">
                    <img src="{{post.image}}" alt="{{post.title}}">
                </div>
                <p class="news-detail-description">Description: {{post.description}}</p>
                <p class="news-detail-date">{{post.post_date|date:"d.m.y"}}</p>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            &copy; 2024. Developed by yrbae
        </div>
    </footer>

    <script defer src = "{%static 'main.js'%}"></script>
</body>
</html>